.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 120px;
    color: white;
}
.nav-logo{
    font-family: Inherit;
    font-size: 42px;
    font-weight: 500;
    font-style: italic;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    gap: 90px;
}
.nav-contact{
    border-radius: 50px;
    background: aqua;
    color: black;
    padding: 10px 38px;
    font-weight: 500;
}